/* the thile of the blog, store ... in the mini feed and the main feed.*/
.notice_feed_title {
	font-style: italic;
}

#notice-block-wrapper{
	padding: 5px;
}
#notice-block-wrapper tbody {
	border-top: 0px;
}
#notice-block-wrapper .notice-mini-header {
    cursor: pointer;
    border-top:1px solid #666666;
    background-color: lightgray;
    padding: 2px;
	font-weight: bold;
}

#notice_mini_box {
}
#notice_mini_box p {
	margin: 0;
	padding: 0;
}
.notice_mini_header {
	text-align: left;
	color: #777777;
	font-weight: bold;
	border-bottom: 1px solid #cccccc;
	padding: 0px;
	margin-top: 10px;
}
.cb_quote_msg {
	padding: 8px;
	padding-top: 0px;
	color: #777777;
	line-height: 12px;
}
